.container{
    margin-top: 5%;
}

.Valider{
    margin-top: 2% ;
}

.Valider input{
    width: 100%;
    background-color: rgb(17, 17, 75);
    border: 0;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}